{
  "Baabaa":   {"level": 1, "awakening": 0},
  "Slick":    {"level": 1, "awakening": 0},
  "Gummy":    {"level": 1, "awakening": 0},
  "Scoots":   {"level": 1, "awakening": 0},
  "Mizu":     {"level": 1, "awakening": 0},
  "Pips":     {"level": 1, "awakening": 0},
  "Poko":     {"level": 1, "awakening": 0},
  "Sakura":   {"level": 1, "awakening": 0},
  "Sizzle":   {"level": 1, "awakening": 0},
  "Mochi":    {"level": 1, "awakening": 0},
  "Sunny":    {"level": 1, "awakening": 0},
  "Moss":     {"level": 1, "awakening": 0},
  "Dinkee":   {"level": 1, "awakening": 0},
  "Mooberry": {"level": 1, "awakening": 0},
  "Ranger":   {"level": 1, "awakening": 0},
  "Crank":    {"level": 1, "awakening": 0},
  "Stella":   {"level": 1, "awakening": 0},
  "Chroma":   {"level": 1, "awakening": 0},
  "Coco":     {"level": 1, "awakening": 0},
  "Mushy":    {"level": 1, "awakening": 0},
  "Miko":     {"level": 1, "awakening": 0},
  "Luma":     {"level": 1, "awakening": 0},
  "Ignis":    {"level": 1, "awakening": 0},
  "Misty":    {"level": 1, "awakening": 0},
  "Penny":    {"level": 1, "awakening": 0},
  "Splash":   {"level": 1, "awakening": 0},
  "Krubs":    {"level": 1, "awakening": 0},
  "Karn":     {"level": 1, "awakening": 0},
  "Luna":     {"level": 1, "awakening": 0},
  "Spud":     {"level": 1, "awakening": 0},
  "Echo":     {"level": 1, "awakening": 0},
  "Hippa":    {"level": 1, "awakening": 0},
  "Wiggle":   {"level": 1, "awakening": 0},
  "Nibsy":    {"level": 1, "awakening": 0},
  "Squish":   {"level": 1, "awakening": 0}
}
